{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block html_attribs %} lang="ru"{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" sizes="48x48"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css">
{% endblock %}

{% block title %}
Flask test app - Тестовое приложение Flask
{% endblock %}

{% block content %}
<div class="container">
    {% block navbar %}
    {% endblock %}

    <br><br>
    {{ wtf.quick_form(form) }}
    <br><br>

    {% if users%}
    <p><b>Пользователи найдены:</b></p>

    {% for user in users %}
        <p>{{ user["name"] }}</p>
    {% endfor %}
    {% endif %}
    <br><br>
</div>
{% endblock %}
